{% extends "base/base_admin.html.twig" %}

{% block body %}
<div class="container mb-3">

    <h1>Crer une nouvelle Categorie</h1>
    
    {{ include('admin/categories/_form.html.twig') }}
    
    <a class="btn btn-secondary" href="{{ path('categories_index') }}">Retouner à la liste</a>

</div>
{% endblock %}
