{% extends "base/base.html.twig" %}

{% block title %}Articles{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {% for article in articles %}
        <div class="col-3 mb-3">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><small>Ecrit par</small> {{article.auteur}}</h5>
                        <p class="card-text">{{article.contenu|u.truncate(100,'...',false)}}</p>
                        <a {#data-bs-toggle="offcanvas"#} href="{{path('article_show',{'id':article.id})}}" {#data-bs-target="#offcanvasExample"#} {#role="button" aria-controls="offcanvasExample"#} class="btn btn-primary float-end">Lire la suite</a>
                        <!-- <a href="#" class="btn btn-primary float-end">Commenter</a> -->
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">BySpirite</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists,
            etc.
        </div>
    </div>
</div> -->
{% endblock %}
