<div class="mb-3">
    <label class="form-label">Nom :</label>
    {{form_widget(form.auteur)}}
</div>

<div class="mb-3">
    <label class="form-label">Commentaire :</label>
    {{form_widget(form.contenu)}}
</div>
<input type="submit" value="Envoyer" class="btn btn-primary mb-3">