<div class="container">
    <div class="mb-3 col-6">
        <label class="form-label">Nom :</label>
        {{form_widget(form.auteur)}}
    </div>

    <div class="mb-3 col-6">
        <label class="form-label">Commentaire :</label>
        {{form_widget(form.contenu)}}
    </div>
    <input type="submit" value="Envoyer" class="btn btn-primary">
</div>